<!DOCTYPE html>
<html>
  <head>
    <title>Yönetici Emlakçı</title>
  </head>
  <body>
    <h1>Almak istediğiniz arsa kordinatları</h1>
    <h2>Ücret : {{ücret}}</h2>
    <h2>Para: {{para}}</h2>
    <h3>{{hata}}</h3>
    <form action="/yöneticiemlaksatış" method="POST">
      {% csrf_token %}
      <label for="xInput">X Değeri:</label>
      <input type="text" id="xInput" name="x" />
      <br />
      <label for="yInput">Y Değeri:</label>
      <input type="text" id="yInput" name="y" />
      <br />
      <button type="submit">Gönder</button>
    </form>

    <form action="/işletmekur">
      <button>İşletme Kur</button>
    </form>

    <h3>----------------------------------</h3>
    <h3>İşletme Günlük Ücreti {{oyun.çalışmaÜcreti}}</h3>
    <h4>Çalışmak İstediğin Gün Sayısını Gir</h4>
    <form action="/çalışma" method="POST">
      {% csrf_token %}
      <input type="hidden" name="x" value="2" />
      <input type="hidden" name="y" value="0" />
      <input type="number" name="günsayısı" />
      <button type="submit">İşe Gir</button>
    </form>
  </body>
</html>
